@code {
    [Parameter] public double Price { get; set; }

    double _shipping;
    double _taxes;
    double _total;

    protected override void OnParametersSet()
    {
        _shipping = Price * 0.125;
        _taxes = Price * 0.25;
        _total = _shipping + _taxes + Price;
    }

}

<p class="fw-bold">Subtotal <span class="fw-normal">@Price.ToString("F1")</span></p>
<p class="fw-bold">Shipping <span class="fw-normal">@_shipping.ToString("F1")</span></p>
<p class="fw-bold">Taxes <span class="fw-normal">@_taxes.ToString("F1")</span></p>
<p class="fw-bold">Total <span class="fw-normal">@_total.ToString("F1")</span></p>