@page "/"

<PageTitle>Index</PageTitle>

<HeaderImg Src="public/chop.svg"/>

<article class="d-flex flex-column gap-5 w-75 mx-auto">
    <section>
        <h1 class="text-dark fw-bolder text-black-50">
            A yummy butcher with all the highest quality meats!
            <br>
            <span class="mx-5">the dumb animals don't feel pain, do not worry.</span>
        </h1>
    </section>

    <section>
        <div class="my-auto d-flex flex-column justify-content-end">
            <h1 class="text-dark text-end fw-bolder text-black-50">
                We have the highest selection anywhere!
                <br>
                <span class="mx-5">The only lawful butcher store in this neighbourhood.</span>
            </h1>
            <a href="/shop" class="mx-5 text-end text-black-50 fw-bolder fs-3">Take a look at the amazing selection of meats.</a>
        </div>
    </section>
</article>

<SurveyPrompt Title="How is Blazor working for you?"/>