<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PokeChopShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PokeChopShop.styles.css" asp-append-version="true"/>
</head>
<body>
<header class="sticky-md-top">
    <div class="w-100 bg-warning px-0 py-1">
        <a href="#" class="link-dark text-reset text-decoration-none h-100">
            <p class="text-center text-white fw-bold my-auto">🔥 Big ongoing sale! Up to 20% off! 🔥</p>
        </a>
    </div>

    <nav class="navbar navbar-expand-md w-100 p-0 bg-opacity-75 bg-white" style="backdrop-filter: blur(10px);">
        <div class="p-0 container-fluid">
            <div class="navbar-nav w-100">
                <a href="/" class="navbar-brand text-black fw-bolder p-4">
                    PokeChop Shop
                </a>

                <div class="collapse navbar-collapse text-md-center d-md-flex justify-content-sm-end text-sm-center" id="navbarToggler">
                    <li class="nav-item">
                        <a href="/" class="nav-link fw-bold text-black">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link fw-bold text-black">
                            About
                        </a>
                    </li>
                    <li class="nav-item">

                        <a href="/shop" class="nav-link fw-bold text-black">
                            Shop
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link fw-bold text-black">
                            Shipping
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link fw-bold text-black">
                            Admin <span class="small fst-italic">(please don't click if you are not an admin)</span>
                        </a>
                    </li>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                </button>
            </div>
        </div>
    </nav>
</header>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderBody()
@await RenderSectionAsync("Scripts", false)
</body>
</html>